* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}

:root {
    --bg-color: rgb(235, 25, 25);
    --bg-color-dark: rgb(135, 8, 8);
    --font-color: white;
    --input-color: rgb(15, 78, 215);
}